body {
    background-color: #222222;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 980px;
    margin: 0 auto 20px auto;
    padding: 50px 0;
    text-align: center;
    width: 900px;
    height: 700px;
    border-radius: 4px;
  }

  #mynetwork {
    flex: 1;
    padding: 15px;
    width: 900px;
    height: 580px;
    border: none;
    background-color: #222222;
    background-image: url('../img/fortaleza-1.png') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 580px;
    cursor: pointer;
  }

  .botoes {
    margin-left: 5%;
    margin: 0 auto;
    display: flex;
    width: 900px;
  }

  .botoes button {
    border: 0px;
    border-radius: 4px;
    height: 38px;
    font-size: 12px;
    background-color: rgb(120, 71, 211);
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }

  canvas {
    border: black;
  }

  button:hover {
    background-color: rgb(134, 96, 165);
  }

  canvas:focus {
    outline: none;
  }

  canvas {
    display: block;
  }