body {
    background-color: #222222;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 980px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    width: 1000px;
    height: 700px;
    
    border-radius: 4px;
  }

  #mynetwork {
    opacity: 50;
    flex: 1;
    padding: 15px;
    width: 900px;
    height: 785px;
    border: none;
    background-color: #222222;
    background-image: url('../img/fortaleza-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 800px;
    cursor: pointer;
  }

  .botoes {
    padding: 50px 5px 10px;
    margin: 0 auto;
    display: flex;
    width: 990px;
  }

  .botoes button {
    margin-top: 10px;
    border: 0px;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    background-color: rgb(120, 71, 211);
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }

  canvas {
    border: black;
  }

  button:hover {
    background-color: rgb(134, 96, 165);
  }

  canvas:focus {
    outline: none;
  }

  canvas {
    display: block;
  }